* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Toolbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  gap: 10px;
}
.Toolbar button {
  width: 40px;
  height: 40px;
  background-color: #f8f9fa;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
}

.Toolbar button:hover {
  background-color: #e9ecef;
}
.Toolbar button.is-active {
  background-color: #4f4f4f;
  color: #e9ecef;
}

/* stlying the editor */
.tiptap {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  min-height: 300px;
  max-height: 84vh;
  overflow-y: scroll;
  margin: 20px;
  font-family: "Arial", sans-serif;
}
